.login-page{
    background-color: #31A4B4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 300;
}

.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}

.login-box{
    grid-column: 3/5;
    grid-row: 2;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 7px;
}

.login-box > p{
    font-size: 20px;
    /* padding: 5px; */
}

.login-text-box{
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    padding: 5px;
}

.enter-button{
    background-color: #3532D7;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 8px;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    cursor: pointer;
}

.enter-button:hover{
    background-color: #22208a;
}
h1{
    font-weight: 400;
    padding: 15px;
}

h2{
    font-weight: 400;
    padding: 15px;
}


.click-here{
    font-size: 16px;
    color: #3532D7;
}

/* HOMEPAGE */

.homepage{
    background-color: #f2f2f2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 300;
}

.homepage-grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    
}

.homepage-header{
    grid-row: 1;
    grid-column: 1/9;
    text-align: center;
    background-color: #22208a;
    margin-top: 0;
    color: #FFFFFF;
    z-index: -1;
}

.profile{
    /* z-index: 2; */
    grid-row: 1;
    grid-column: 8/9;
    /* margin: auto; */
    align-self: center;
    justify-self: center;
    width: 70%;
    height: auto;
}

.back{
    /* z-index: 2; */
    grid-row: 1;
    grid-column: 1/2;
    /* margin: auto; */
    align-self: center;
    justify-self: center;
    width: 70%;
    height: auto;
    color: #ffffff;
    cursor: pointer;
}

.back > p:hover{
    color: #c3c3c3;
}

.back > p{
    text-align: center;
    font-size: 18px;
}

.category-card{
    background: #3532D7;
    text-align: center;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
}

.category-card:hover{
    background-color: #22208a;
}

.category-card > a{
    text-decoration: none;
    color: #ffffff;
}


.age-group{
    
    grid-row: 3;
    grid-column: 3/5;
}

.weather{

    grid-row: 3;
    grid-column: 5/7;
}

.vehicle{

    grid-row: 4;
    grid-column: 2/4;

}

.time{

    grid-row: 4;
    grid-column: 4/6;

}

.road-conditions{

    grid-row: 4;
    grid-column: 6/8;

}

.profile-image{
    width: 50%;
    height: auto;
    fill: #FFFFFF;
    margin: auto;
    
}


/* TRENDS */

.trends-page{
    background-color: #f2f2f2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 300;
}

.trends-page-grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    
}

.trends-page-header{
    grid-row: 1;
    grid-column: 1/7;
    text-align: center;
    background-color: #22208a;
    margin-top: 0;
    color: #FFFFFF;
    z-index: -1;
}

.selector-box{
    grid-column: 2/3;
}

.graph{
    grid-column: 4/6;
    grid-row: 2/4;
    border: 1px solid;
    text-align: center;
}

/* TIME PERIODS  */

.time-period-card{
    grid-column: 3/7;
    background: #3532D7;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
}

.time-period-card:hover{
    background-color: #22208a;

}

/* DROPDOWN */

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}